body {
	margin: 0;
	padding: 0;
	background: black;
	font-family: Verdana, Ariel, sans;
	font-size: 10pt;
}

a, a:visited, a:active {
	color: #900;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


#page {
	margin: 2em auto 0 auto;
	padding: 0;
	background: #CCC;
	color: black;
	border-radius: 15px;	
}

/*******************
 * Header 
 *******************/
#header {
	position: relative;
	overflow: auto;
	padding: 1em;
}
/************ Images at top of page */
#img-container {
	height: 115px;
	position: relative;
	background: #444;
	border-radius: 15px;
	padding: 10px;	
}

/************ Page title */
#page-title {
	font: bold 22pt monospace; padding: 5px;
	position: absolute; 
	left: 2em; 
	bottom: 0.5em; 
	color: #FFF;
	text-shadow: 3px 3px 2px gray; 
}


/************ Global Navigation */
#global-nav {
	

}

#global-nav-menu {

}

/*superfish */
.sf-menu {
    margin-bottom: 0;
}
.sf-menu ul {
	box-shadow: 2px 2px 6px rgba(0,0,0,.2);
}
.sf-menu a {
	border-left: 1px solid #fff;
	border-top: 1px solid #dFeEFF; /* fallback colour must use full shorthand */
	border-top: 1px solid rgba(255,255,255,.5);
	color: #FFF !important;
}
.sf-menu li {
	background: #000;
}
.sf-menu ul li {
	background: #000;
}
.sf-menu ul ul li {
	background: #000;
}
.sf-menu li:hover,
.sf-menu li.sfHover {
	background: #999;
}

.sf-menu li.active {
	background: #FFF;
}

.sf-menu li.active > a {
	color: #000 !important;
}

.sf-menu li.active:hover {
	background: #999;
}

.sf-menu li.active > a {
	color: #000 !important;
}


/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	/* order of following 3 rules important for fallbacks to work */
	border: 5px solid transparent;
	border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(255,255,255,.5);
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(255,255,255,.5);
}


/************ Path, search */
#top-divider {
	position: relative;
 	overflow: auto;
	background: #999;
	padding: 2px;
	clear: both;
}

#breadcrumb {
	float: left;
	height: 100%;
}

#breadcrumb ul {
	padding: 0.5em;
	margin: 0;
}

#breadcrumb ul li {
	list-style: none;
	display: inline;
}

#breadcrumb ul li:not(:last-child):after {
	content: ' > ';
}

#search {
	float: right;
	height: 100%;
}

/**********************
 * Content area layout. Sidebars, etc.
 ****************************/
 #layout {
	margin: 0;
}

#content-wrapper {
	min-height: 300px;
}

#content {
	padding-top: 1em;
}

.sidebar {
 	padding: 4px; 
	margin: 0;
	border: solid black medium; 
	background: white;
	min-height: 100;
	border-radius: 15px;	
}

/***********************> 
 * content
 ***********************/
#geek-out {
	padding-bottom: 1em;
}

#geek-out-button, .geek-out-button {
	background: green;
	border: medium solid white;
	color: white;
	cursor: pointer;
}

#geek-out-content {
	background-color: #AAA;
	padding: 1em;
}

.hide {
	display: none;
}


/***********************
 * Footer
 **********************/
footer {
	background: #444;  
	color: white;
	text-align: center;
	padding: 0.5em;
	/* copied from #page */
	-moz-border-radius: 0 0 15px 15px;
	-webkit-border-radius: 0 0 15px 15px;
	border-radius: 0 0 15px 15px;
}

/*****************
 * media queries
 *****************/
 @media (max-width: 767px) {
  #img-container {
    height: 5em;
  }
}