div.recipe {
	padding-bottom: 2em;
}


div.recipe td, div.recipe th {
	padding-top: 0;
	padding-bottom: 0;
}

div.recipe h2, div.recipe h3 {
	margin: 0;
	paadding: 0;
}

div#menu a {
	padding: .3em;
}

#recipes th {
	text-align: left;
}

.recipe-title {
	background-color: wheat;
	border-top-left-radius: 1em;	
	border-top-right-radius: 1em;	
	padding: 0.5em;
}

.recipe-main {
	background-color: wheat;
	border-radius: 1em;
	border-top-left-radius: 0;	
	padding: 1em;
}
