#resume * {
	font-size: 10pt; 
	font-family: Verdana, Geneva, sans-serif;	
}

#resume {
	width: 696px;
}

.clear {
	clear: both;	
}

#resume #header-wrapper {
	margin: 0 auto;
	padding-bottom: 1em;
	/*
	padding:0px;
	text-align:center;
	overflow: hidden;
	*/
/*	width: 90%; */
	width:650px;
}

#resume #header-wrapper #header {
	text-align:center;
}
#resume #header-wrapper #header #name {
	font-size: 20pt;
	text-align: left;
}

#resume #header-wrapper #header #info {
	text-align: center;
	font-size: 8pt;
	font-weight: bold;
	border-top: black solid 1px;
}

/*************************************
 * "Table" layout
 ************************************/

#resume .left-col, #resume .right-col {
	vertical-align: top;
	display: table-cell;
}

#resume .left-col {
	width: 104px;	
	font-weight: bold;
}

#resume .right-col {
	width: 592px;
}

#resume #table .right-col .title-date {
	clear: both;	
}

#resume #table .right-col .title-date .title {
	float: left;	
	font-style: italic;
}

#resume #table .right-col .title-date .date {
	float: right;
}

#resume #table .right-col .content {
	clear: both;	
}
/**********************************
 * Lists
 **********************************/
#resume #table .right-col ul {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;	
}

/***********************************
 * Indenting
 **********************************/
.indent-after-first-line {
	text-indent:-1em;
	margin-left:1em;	
}


.indent0 {
	margin-left: 0em;
	padding-left: 0;
}

.indent1 {
	margin-left: 1em;	
}

.indent2 {
	margin-left: 2em;	
}

.indent3 {
	margin-left: 3em;	
}
