<menu>
	<links href="/home/" display="Home">
		<links href="inspire/" display="Inspiration">
			<link href="desiderata.php" display="Desiderata"/>
			<link href="holdOnHope.php" display="Hold On Hope"/>
			<link href="serenityPrayer.php" display="Serenity Prayer"/>
		</links>
	</links>
	<link href="/portfolio/" display="Portfolio"/>
	
	<link href="/resume/" display="Resume"/>
	<link href="/news/" display="News"/>

	<links href="/pictures/" display="Pictures">
	</links>
	<link href="/recipes/" display="Recipes"/>	
	<link href="/blog/" display="Blog" redirect="http://ttmsoia.andyhill.us"/>

	<links href="/admin/" display="Administration">
		<links href="login.php" display="Login">
		</links>
	</links>
</menu>
