<html>
<body>
Dear [Name],
<p>
I hope this email finds you well!
</p>
<p>
Your Personal Information Form has been matched with United Presbyterian Church in Bloomington, Indiana, in the Presbytery of Ohio Valley.   As the Chair of the Pastor Nominating Committee that will locate our next pastor, we would like to take this opportunity to apprise you of this match by the Church Leadership Connection and our church.   
</p>
<p>
I've attached our MIF to this email. Before we consider your name any further, we'd like to know if you are interested in being considered for the position. If you are interested in being considered, we will proceed as outlined below.
</p>
<p>
The PNC will:
<ul>
	<li>receives and reviews PIFs and selects candidates for further consideration</li>
	<li>arranges for an initial conversation with those persons, conducts reference checks and and 
		selects candidates for further consideration</li>
	<li>conducts further checking as indicated and brings a final pool of candidates to the PNC for its consideration</li>
</ul>
</p>
<p>
Thank you for your time, and blessings to you in your search for your next place of ministry.
</p>

<p>
Sincerely,
Andy Hill
Chair of PNC, United Presbyterian
</p>
</body>
</html>