<html>
<body>
Dear [Name],

<p>Thanks you for your interest in United Presbyterian Church, Bloomington, Indiana.  We wish to acknowledge receiving your PIF and would like to tell you about the process that we will use to discern the identity of our next pastor.</p>

<p>Below is an outline of our process:<br />
The PNC: 
<ul>
	<li>receives and reviews PIFs and selects candidates for further consideration</li>
	<li>arranges for an initial conversation with those persons, conducts reference checks and and 
		selects candidates for further consideration</li>
	<li>conducts further checking as indicated and brings a final pool of candidates to the PNC for its consideration</li>
</ul>
</p>
<p>	
As we have just begun our work, it may be several weeks before you hear from us again. 
</p>
<p>
I ask for your prayers during this process. Please know that our prayers are with you as well in your search for your next place of ministry.
</p>

<p>
Sincerely,
Andy Hill
</p>

</body>
</html>