a:link, a:visited {
	color: #C00;
	text-decoration:none;
}

a:hover {
	text-decoration: underline;
}

body{
	font-size:0.8em;
	/* text-align:center; */
	background-color:#000;
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	color: #FFF;
	margin:0px;
	padding:0px;
}

h1 {
	font-size: 3em;
	color: #CCC;
	text-align: center;
	padding: 0;
	margin: 0;
}

img{
	border:0px;
}

#headerContainer {

}

#headerContainer #imgContainer {
	height: 90px;
	position: relative;
}

#headerTitleDrop {
	position: absolute; left: 2px; top: 2px; color: #FFF;
		font: italic bold 20pt arial; padding: 5px;
}

#headerTitle {
	position: absolute; left: 0px; top: 0px; color: #700;
		font: italic bold 20pt arial; padding: 5px;
}



.headerImg {
	position: absolute;
	left: 0;
	top: 0;
}


#topDivider {
	/* padding: 3px 0 3px 0; */
	background: #AAA;
	clear: both;
	width: 100%;
}

#pathContainer {
}

#searchContainer {
	text-align: right;
}

#mainContainer{
	/* width:760px;
	margin:0 auto;
	*/
	text-align:left;
}

#leftContainer{
	width:160px;
	 vertical-align: top;
}

#contentContainer{
	padding: 5px;
	text-align: left;
	vertical-align: top;
}

/* Rows */
div.row {
  clear: both;
  padding-top: 10px;
 }

div.row .left {
  float: left;
  width: 100px;
  text-align: right;
}

div.row .right {
  float: left;
  width: 115px;
  text-align: left;
} 

.alert {
	color: #F00;
	font-size: 14pt;
}

#rss-feeds td {
	border: solid thick gray;
	padding: 4px;
	width: 50%;
	vertical-align: top;
}

.rss-header {
	font-size: 16pt;
	color: white;
}

.rss-action {
	font-size: 7pt;
	border: solid thin gray;
	padding: 2px;
	vertical-align: center;
}

.rss-descriptions {
	display: none;
}

.rss-category {
	padding: 5px;
	color: black;
	background: gray;
	cursor: pointer;
	width: 50px;
	text-align: center;
}

.rss-category:hover {
	color: #900;
}

/**********************
 *  Portfolio styles
 ***********************/

.portfolio-entry {
	/* display: inline; */
	border: thin dotted white;
	padding: 0.5em;
	margin: 1em;
	float: left;
	text-align: center;
	background: #AAA;
}

.portfolio-entry a {
	color: black;
}

.portfolio-entry a:hover {
	text-decoration: none;
	background: gray;
}

.portfolio-entry .title {
	font-size: 1.3em;
	font-weight: bold;
	color: #900;
}

.portfolio-entry .img {
	padding: 1em;
}

.portfolio-entry .url {

}

/**********************
 *  Pictures styles
 ***********************/

.pictures-group {
	clear: both;
}

.pictures-group .picture {
	/* display: inline; */
	border: thin dotted white;
	padding: 0.5em;
	margin: 1em;
	float: left;
	text-align: center;
	background: #AAA;
	
}
.pictures-group .image {
	width: 100px;
}





