/***************************************** 
 * Author: IU Office of Creative Services
 *
 * Print styles
 ****************************************/

/****************************************
 * Base Styles
 ****************************************/
 
body {	
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11pt;
	line-height: 20pt;
}
h3, h4, h5, h6 {
	margin: 30px 0;
	padding: 0;
}
h2 {
	border-bottom: 1px solid #666;
	font-size: 19pt;
	line-height: 17pt;
	margin: 0;
	padding: 10px 0 20px 0;
}
h3 {
	font-size: 17pt;
	line-height: 15pt;
}
h4 {
	font-size: 15pt;
	line-height: 13pt;
}
h5 {
	font-size: 13pt;
	line-height: 11pt;
}
h6 {
	font-size: 11pt;
	line-height: 9pt;
}
p {
	margin: 10px 0;
}
img {
	border: none;
}
a {
	color: #900;
	text-decoration: none;
}
a:hover {
	color: #900;
	text-decoration: underline;
}
td, th {
	vertical-align: top;
}

/****************************************
 * Skip Navigation
 ****************************************/

#skip, #skip3, #skip4, #skip5, #skip6 {
	display: none;
}

/****************************************
 * Header
 ****************************************/

/* Search */

#header form {
	display: none;
}

/****************************************
 * Horizontal Navigation
 ****************************************/

#nav_horizontal {
	 display: none;
}

/****************************************
 * Vertical Navigation
 ****************************************/

#nav_vertical {
	display: none;
}

/* Hide the Flash headlines from the browser... 
regular browser text headlines will now print as normal */

.sIFR-flash {
  display: none !important;
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
}

.sIFR-alternate {
  visibility: visible !important;
  display: block !important;
  position: static !important;
  left: auto !important;
  top: auto !important;
}