/***************************************** 
 * Author: IU Office of Creative Services
 *
 * Typography styles
 ****************************************/

/****************************************
 * Base Styles
 ****************************************/

body {	
	color: #363636;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 1.125em; /* 18px */
	text-align: center;
}
a {
	color: #900;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/****************************************
 * Header
 ****************************************/

/* Search */

#header form {
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.688em; /* 11px */
	line-height: 1.182em; /* 13px */
}
#header form label {
	font-weight: normal;
}
#header form #searchbox {
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em; /* 11px */
}

/* Site Title */

#header h2#sitetitle {
	color: #7d110c;
	font-size: 1.875em; /* 30px */
	font-weight: normal;
	letter-spacing: -0.010em;
	line-height: 1em; /* 30px */
}
#header h2#sitetitle a {
	color: #7d110c;
}

/****************************************
 * Columns
 ****************************************/
 
#column1, #column2, #column3, #column123, #column23 {
	font-size: 0.750em; /* 12px */
}

/****************************************
 * Horizontal Navigation
 ****************************************/
 
#nav_horizontal ul, .submenu ul {
	font-size: 0.750em; /* 12px */
	line-height: 1.250em; /* 15px */
}
#nav_horizontal li a, .submenu li a {
	color: #333;
}
#nav_horizontal li a:hover, .submenu li a:hover {
	color: #7d110c;
	text-decoration: none;
}
#nav_horizontal li.active a, .submenu li.active a { 
	color: #7d110c;
	font-weight: bold;
}

/****************************************
 * Vertical Navigation
 ****************************************/
 
#nav_vertical ul {
	line-height: 1.250em; /* 15px */
}
#nav_vertical li a {
	color: #000;
}
#nav_vertical li a:hover {
	color: #7d110c;
	text-decoration: none;
}
#nav_vertical li.active a { 
	color: #7d110c; 
}
#nav_vertical li.active li a {
	color: #000;
}
#nav_vertical li li.active a {
	color: #7d110c; 
}

/* Level 1 Subnavigation */

#wrapper .subnav li a {
	color: #7d110c;
}
#wrapper .subnav li.active a { 
	font-weight: bold;
}
#wrapper .subnav li.active li a {
	font-weight: normal;
}
#wrapper .subnav li li.active a {
	font-weight: bold;
}

/* Level 2 Subnavigation */

#wrapper #nav_vertical li li a {
	color: #333;
}
#wrapper #nav_vertical li li a:hover {
	color: #333;
	text-decoration: underline;
}

/****************************************
 * Content
 ****************************************/
 
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
	color: #000;  
	font-weight: normal; 
}
#content h1 { 	
	font-size: 2.167em; /* 26px */ 
}
#content h2 { 	
	font-size: 2.167em; /* 26px */ 
}
#content h3 { 	
	clear:both; /*added by maitrey*/
	font-size: 2.167em; /* 26px */
	line-height: 0.962em; /* 25px */ 
}
#content h4 { 	
	font-size: 1.500em; /* 18px */
	line-height: 1em;  /* 18px */
}
#content h5 { 	
	font-size: 1.333em; /* 16px */
	line-height: 1.125em; /* 18px */ 
}
#content h6 { 	
	font-size: 1.167em; /* 14px */
	line-height: 1.286em; /* 18px */
}
#content li {
	line-height: 1.333em; /* 16px */
}
#content dt {
	font-weight: bold;
}

/****************************************
 * Generic Boxes
 ****************************************/

.box h3 {
	color: #fff;
	font-size: 1.083em; /* 13px */
	line-height: 1.154em; /* 15px */
}
.box h4 {
	color: #000;
	font-size: 1.167em; /* 14px */
	font-weight: normal;
	line-height: 1.071em; /* 15px */
}
.box hr {
	color: #d9d9d9;
}
.box li {
	line-height: 1.333em; /* 16px */
}

#column2 .box h4 {
	color: #7d110c;
	font-size: 2.000em; /* 24px */
}

/****************************************
 * Mini Index
 ****************************************/

#mini-index {
	font-size: 0.688em; /* 11px */
	line-height: 1.182em; /* 13px */
}
#mini-index h3 {
	color: #5b5b5b;
	font-size: 1.091em; /* 12px */
	line-height: 1.083em; /* 13px */
}
#mini-index h3 a {
	color: #5b5b5b;
}
#mini-index h4 {
	color: #8c8b8b;
	font-size: 1em; /* 11px */
	line-height: 1.182em; /* 13px */
}
#mini-index h4 a {
	color: #696969;
}
#mini-index a {
	color: #8c8b8b;
}
#mini-index:hover a {
	color: #900;
}
#mini-index:hover h4 {
	color: #000;
}
#mini-index:hover h4 a {
	color: #7d110c;
}
#mini-index:hover h3 {
	color: #000;
}
#mini-index:hover h3 a {
	color: #7d110c;
}

/****************************************
 * Footer
 ****************************************/

#footer {
	color: #333;
	font-size: 0.688em; /* 11px */
	text-align: left;
}

/****************************************
 * Generic Classes
 ****************************************/

.lead {
	color: #000;
	font-size: 1.083em; /* 13px */
	font-weight: bold;
	line-height: 1.385em; /* 18px */
}

/****************************************
 * Forms
 ****************************************/
 
label { 
	font-weight: bold; 
}

/* Text fields */

input.text { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
}

/* Textareas */

textarea { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
}