@import "../../../../sass/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

#inspire {
	.nav {
		background-color: white;
		padding: 0.5em;
		border-radius: 0.5em;
		border: solid black medium;
		ul {
			padding-left: 0.5em;
			margin: 0 0 0 0.5em;
			list-style: none;
			li ul {
				background-color: #999;
				border-radius: 0.5em;

				a.selected {
					font-weight: bold;
				}
			}
		}
	}
	.side-nav {
		display: none;
	}
}

@media (min-width: $screen-sm-min) {
	#inspire {
		.side-nav {
			display: block;
		}
		.mobile-nav {
			display: none;
		}
	}	
}