	<!--
	body {background:"blue"}
	h1 {text-align:center;font:normal 30pt "Comic Sans MS"}
	h3 {font:normal 15pt "Comic Sans MS"}
	td {font:normal 15pt "Comic Sans MS"}
	a:link {color:white;text-decoration:none;font:normal 15pt "Comic Sans MS"}
	a:hover {color:yellow;text-decoration:none;font:normal 15pt "Comic Sans MS"}
	a:visited {text-decoration:none;font:normal 15pt "Comic Sans MS"}
	-->
