.clear {
  clear: both; }

#resume {
  width: 100%;
  background: white;
  padding: 2em; }
  #resume * {
    font-size: 10pt;
    font-family: Verdana, Geneva, sans-serif; }
  #resume .header-wrapper {
    margin: 0 auto;
    padding-bottom: 1em;
    width: 650px; }
    #resume .header-wrapper .header {
      text-align: center; }
      #resume .header-wrapper .header .name {
        font-size: 20pt;
        text-align: left; }
      #resume .header-wrapper .header .info {
        text-align: center;
        font-size: 8pt;
        font-weight: bold;
        border-top: black solid 1px; }

/*************************************
 * "Table" layout
 ************************************/
#resume #table .left-col, #resume #table .right-col {
  vertical-align: top;
  display: table-cell; }
#resume #table .left-col {
  width: 104px;
  font-weight: bold; }
#resume #table .right-col {
  width: 592px; }
  #resume #table .right-col .title-date {
    clear: both; }
    #resume #table .right-col .title-date .title {
      float: left;
      font-style: italic; }
    #resume #table .right-col .title-date .date {
      float: right; }
  #resume #table .right-col .content {
    clear: both; }
  #resume #table .right-col ul {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0; }

/***********************************
 * Indenting
 **********************************/
.indent-after-first-line {
  text-indent: -1em;
  margin-left: 1em; }

.indent0 {
  padding-left: 0;
  margin-left: 0em; }

.indent1 {
  padding-left: 0;
  margin-left: 1em; }

.indent2 {
  padding-left: 0;
  margin-left: 2em; }

.indent3 {
  padding-left: 0;
  margin-left: 3em; }

/***************************
 * Link styles for when template
 * not included
 ***************************/
a, a:visited, a:active {
  color: #990000;
  text-decoration: none; }

@media only screen and ( max-width: 767px )  {
    #resume .header-wrapper {
      width: 100%; 
    }
  #resume #table .left-col {
    width: 20%;
    font-weight: bold; 
  }
  #resume #table .right-col {
    width: 10%; 
  }    
}