/**********************
 *  Portfolio styles
 ***********************/

.portfolio-entry {
	/* display: inline; */
	border: thin dotted white;
	padding: 0.5em;
	margin: 1em;
	float: left;
	text-align: center;
	background: #AAA;
}

.portfolio-entry a {
	color: black;
}

.portfolio-entry a:hover {
	text-decoration: none;
	background: gray;
}

.portfolio-entry .title {
	font-size: 1.3em;
	font-weight: bold;
	color: #900;
}

.portfolio-entry .img {
	padding: 1em;
}

.portfolio-entry .url {

}
