body {
	background: black;
	font: normal 12pt "Comic Sans MS";
	color: #FFF;
}
h1 {
	text-align:center;
	font:normal 30pt "Comic Sans MS";
}

.alert {
	color: #F00;
	font-size: large;
	text-align: center;
}

h2 {
	font:normal 17pt "Comic Sans MS";
	color: white;
}
h3 {
	font:normal 15pt "Comic Sans MS";
	color:white;
}
h4 {
	font:normal 13pt "Comic Sans MS";
	color:white;
}
td {
	font: normal 12pt "Comic Sans MS";
	color:black; 
	background: gray;
}
td.top {
	font:normal 12pt "Comic Sans MS";
	color:white; 
	background: black;
}
table {
	border-width:5px; 
	border-color:"#333333";
}
a:link {
	color:yellow;
	text-decoration:none
}
a:hover {
	color:blue;
	text-decoration:none
}
a:visited{
	text-decoration:none
}

#contact {
	text-align: center;
}

#contact table {
	border: 0;
}

#contact td {
	background: #000;
}
#contact th {
	text-align: right;
}

